{% extends 'layout.html'%}
{% load static %}
{% block main %}
 <!--slider start-->
 <div class="row">
    <div class="col-sm-12">
      <img src="{% static 'IMG/Nou e gyan banner.jpg'%}" height="350px" width="1507px" style=" background-size: cover; background-repeat: no-repeat;">
    </div>
  </div>
    <!--slider end-->
    <!--section1 start-->
    <div class="row">
      <div class="col-sm-12" style="background-color: orange;">
        <marquee behavior="" direction="" scrollamount="15">
          <div class="d-flex">
<div class="a m-3 pt-4" style="background-color: rgb(163, 44, 0); height: 100px; width: 500px; text-align: center; font-size:medium; color: azure; "><p>The portal is easy to access & highly user<br>
friendly for the students & study centres</p></div>
 <div class="a m-3 p-3" style="background-color: rgb(163, 44, 0); height: 100px; width: 500px;  text-align: center; font-size:medium; color: azure;"><p>The portal is fully secured and accessible<br>
  24 x 7 to its authorised users.</p></div>
  <div class="a m-3 p-3" style="background-color: rgb(163, 44, 0); height: 100px; width: 500px;  text-align: center; font-size:medium; color: azure;"><p>The portal is easy to access & highly user<br>
    friendly for the students & study centres.!</p></div>
        </marquee>
      </div>
      </div>
    </div>
     <!--section1 end-->
     <!--about section start
     <div class="row p-5 pt-4">
      <div class="col-sm-12">
        <h2 class="fw-bold">About <span style="color: darkred;">NOU e-Gyan Portal</span></h2>
      </div>
      <div class="col-sm-6">
        <p style="text-align: justify; font-size: 20px;">Nalanda Open University welcomes all our students, faculties & study centres to the very new & innovative online study portal NOU e-Gyan. The portal is a unique initiative by Hon'ble Vice-Chancellor Prof. (Dr.) K C Sinha, which aims at providing online study material to the students of NOU.

         <b> The portal is accessible from any hook and corner of the world if the system allows the permission to its users</b>. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
      </p>
      </div>
     <div class="col-sm-2"></div>
     <div class="col-sm-4">
      <img src="{% static 'IMG/thumbnail.jpeg'%}" height="350px" style="position: absolute; margin-left: -200px;">
      <img src="{% static 'IMG/slider1.jpeg'%}" height="410px" width="600px" style="">
     </div>
     </div>
   about section end-->
   <!--about section -->
   <div class="row mt-5 mb-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <h3 style="font-weight: 900; font-family: initial;">About <span style="color: darkred;">NOU e-Gyan Portal</span></h3>
        <p style="font-family: sans-serif; font-size: medium; "><b>Nalanda Open University welcomes all our students, faculties & study centres</b> to the very new & innovative online study portal NOU e-Gyan.<br><br><b> The portal is a unique initiative by Hon'ble Vice-Chancellor Prof. (Dr.) K C Sinha, which aims at providing online study</b> material to the students of NOU. The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="background-image: url('../static/IMG/slider1.jpeg'); height: 300px; background-position: center;">
        <img src="{% static 'IMG/thumbnail.jpeg' %}" width="400px" style="position: absolute; margin-left: -120px;margin-top: 35px;">
    </div>
   </div>
    <!--about section end-->
{% endblock %}
