{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NOU e-Gyan PORTAL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'CSS/style1.css'%}">
  </head>
  <body>
<!--container start-->
<div class="container-fluid">
    <!--headline no 1 start-->
    <div class="row p-2" style="background-color: darkred; color: azure;">
       <div class="col-sm-1"></div>
       <div class="col-sm-2 my-auto text-end">
        <p class="my-auto"><i class="fa-solid fa-phone fa-bounce"></i>+91 7080102007
        </p>
       </div>
       <div class="col-sm-2 my-auto">
        <p class="my-auto"><i class="fa-solid fa-envelope fa-shake"></i>nouegyanhelp@gmail.com</p>
       </div>
       <div class="col-sm-2"></div>
       <div class="col-sm-4 my-auto">
        <p id="dt" class="my-auto"></p>
       </div>
       <div class="col-sm-1"></div>
    </div>
    <!--headline no 1 end-->
    <!--headline no 2 start-->
    <div class="row">
      <div class="col-sm-12 my-auto p-2" style="background-color: darkred; color: azure; ">
        <p class="text-center my-auto">For Admission and Examination related query, Kindly call on University helpline Numbers 9341508580,9341508577,0612-2201013 & 0612-2206916</p></div>
    </div>
    <!--headline no 2 end-->

    <!--header start-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 mt-3 text-end">
      <!--logo-->
      <img src="{% static 'IMG/logo1.png'%}" height="130px" alt="">
    </div>
    <div class="col-sm-3 my-auto">
      <!--nou-->
      <h3 class="fw-bold" style="color: darkred;">NOU e-Gyan PORTAL</h3>
      <p>(A Concept by Nalanda Open University)</p>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3 my-auto">
      <!--icons-->
      <span style="border: 1px solid #009dff; padding: 7px; padding-top: 12px; border-radius: 100%;"><i class="fa-brands fa-twitter" style="font-size: 25px; color: #009dff;"></i></span>
      <span style="border: 1px solid rgb(0,100,255); padding: 7px; padding-top: 12px; border-radius: 100%;"><i class="fa-brands fa-facebook" style="font-size: 25px; color:rgb(0,100,255) ;"></i></span>
      <span style="border: 1px solid #ff006f; padding: 7px; padding-top: 12px; border-radius: 100%;"><i class="fa-brands fa-instagram" style="font-size: 25px; color: #ff006f;"></i></span>
      <span style="border: 1px solid #007ef5; padding: 7px; padding-top: 12px; border-radius: 100%;"><i class="fa-brands fa-linkedin" style="font-size: 25px; color: #007ef5;"></i></span>
      <span style="border: 1px solid #fb0404; padding: 7px; padding-top: 12px; border-radius: 100%;"><i class="fa-brands fa-youtube" style="font-size: 25px; color: #fb0404;"></i></span>

    </div>
    <div class="col-sm-1"></div>
  </div>
    <!--header end-->
    <!--navbar start-->
    <div class="row">
      <div class="col-sm-12 p-0 mt-3">
        <nav class="navbar navbar-expand-lg" style="background-color: gray;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" style="font-weight: 900; font-size: larger; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: aliceblue;">WELCOME<span style="color: orange; padding-left: 10px;">STUDENT</span></a>
                </li>
                
               
                <li class="nav-item"  style="padding-left:500px ;">
                  <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'about'%}">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-book-open" style="font-size: 20px;"></i>Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'reg' %}" ><i class="fa-solid fa-key fa-spin fa-spin-reverse"></i>
                  </i>Registraion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-graduation-cap"></i>Study Center</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login' %}" ><i class="fa-solid fa-key fa-spin fa-spin-reverse"></i>
                  </i>Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'contact' %}" ><i class="fa-solid fa-phone fa-spin fa-spin-reverse" ></i>Contact</a>
                </li>
               
                
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--navbar end-->
   {% block main %}
   {% endblock %}
   <!--footer start-->
   <div class="row">
    <div class="col-sm-12 p-0">
      <!-- Footer -->
<footer class="text-center text-lg-start text-light" style="background-color: darkred;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </div>

   </div>
      <!--footer end-->

</div>
<!--container end-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      var a=Date();
      document.getElementById('dt').innerHTML=a;
    </script>
  </body>
</html>
